@define-color accent_color {{colors.primary.default.hex}};
@define-color accent_bg_color {{colors.primary_container.default.hex}};
@define-color accent_fg_color {{colors.on_primary_container.default.hex}};
@define-color window_bg_color {{colors.surface_dim.default.hex}};
@define-color window_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_bg_color {{colors.surface.default.hex}};
@define-color headerbar_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_border_color {{colors.outline.default.hex}};
@define-color headerbar_shade_color {{colors.surface_container_high.default.hex}};
@define-color popover_bg_color {{colors.surface_container.default.hex}};
@define-color popover_fg_color {{colors.on_surface.default.hex}};
@define-color view_bg_color {{colors.surface.default.hex}};
@define-color view_fg_color {{colors.on_surface.default.hex}};
@define-color card_bg_color {{colors.surface_container_low.default.hex}};
@define-color card_fg_color {{colors.on_surface.default.hex}};
@define-color card_shade_color {{colors.shadow.default.hex}};
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color bg_color {{colors.surface.default.hex}};
@define-color fg_color {{colors.on_surface.default.hex}};
@define-color text_color {{colors.on_surface.default.hex}};
@define-color text_color_disabled {{colors.on_surface.default.hex}};
@define-color button_bg_color {{colors.surface_container.default.hex}};
@define-color button_fg_color {{colors.on_surface.default.hex}};
@define-color button_hover_color {{colors.primary.default.hex}};
@define-color button_active_color {{colors.primary.default.hex}};
@define-color button_checked_bg_color {{colors.primary_container.default.hex}};
@define-color button_checked_fg_color {{colors.on_primary_container.default.hex}};
@define-color borders {{colors.outline.default.hex}};
@define-color outline_color {{colors.outline.default.hex}};
@define-color outline_variant_color {{colors.outline_variant.default.hex}};
@define-color link_color {{colors.tertiary.default.hex}};
@define-color link_visited_color {{colors.tertiary_container.default.hex}};
@define-color warning_color {{colors.error.default.hex}};
@define-color warning_bg_color {{colors.error_container.default.hex}};
@define-color warning_fg_color {{colors.on_error_container.default.hex}};
@define-color error_color {{colors.error.default.hex}};
@define-color error_bg_color {{colors.error_container.default.hex}};
@define-color error_fg_color {{colors.on_error_container.default.hex}};
@define-color success_color {{colors.tertiary.default.hex}};
@define-color success_bg_color {{colors.tertiary_container.default.hex}};
@define-color success_fg_color {{colors.on_tertiary_container.default.hex}};
@define-color selected_bg_color {{colors.primary_container.default.hex}};
@define-color selected_fg_color {{colors.on_primary_container.default.hex}};
@define-color selected_text_color {{colors.on_primary_container.default.hex}};
@define-color hover_color {{colors.primary.default.hex}};
@define-color focus_color {{colors.primary.default.hex}};
@define-color dark_fill_color {{colors.surface_container_highest.default.hex}};
@define-color light_fill_color {{colors.surface_bright.default.hex}};
@define-color info_color {{colors.secondary.default.hex}};
@define-color info_bg_color {{colors.secondary_container.default.hex}};
@define-color info_fg_color {{colors.on_secondary_container.default.hex}};
@define-color shade_color {{colors.shadow.default.hex}};
@define-color backdrop_color {{colors.surface_variant.default.hex}};
@define-color overlay_color {{colors.shadow.default.hex}};

/*
 adw-gtk-theme colors
 Generated with Matugen

 GTK 4.16+
 https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_colors.scss
*/

:root {
    --accent-red: #ff5f56;
    --accent-yellow: #ffbd2e;
    --accent-green: #27c93f;
    --accent-blue: #007aff;
    --accent-purple: #af52de;
    --accent-pink: #ff2d55;
    --accent-orange: #ff9500;
    --accent-gray: #8e8e93;

    --font-size: 10pt;

    --text-color: #3d3d3d;
    --secondary-text-color: #8a8a8e;

    --accent-bg-color: @accent_bg_color;
    --accent-fg-color: @accent_fg_color;

    --destructive-bg-color: @destructive_bg_color;
    --destructive-fg-color: @destructive_fg_color;

    --success-bg-color: @success_bg_color;
    --success-fg-color: @success_fg_color;

    --warning-bg-color: @warning_bg_color;
    --warning-fg-color: @warning_fg_color;

    --error-bg-color: @error_bg_color;
    --error-fg-color: @error_fg_color;

    --window-bg-color: @window_bg_color;
    --window-fg-color: @window_fg_color;

    --view-bg-color: @view_bg_color;
    --view-fg-color: @view_fg_color;

    --headerbar-bg-color: @headerbar_bg_color;
    --headerbar-fg-color: @headerbar_fg_color;
    --headerbar-border-color: @headerbar_border_color;
    --headerbar-backdrop-color: @headerbar_backdrop_color;
    --headerbar-shade-color: @headerbar_shade_color;
    --headerbar-darker-shade-color: @headerbar_darker_shade_color;

    --sidebar-bg-color: @sidebar_bg_color;
    --sidebar-fg-color: @sidebar_fg_color;
    --sidebar-backdrop-color: @sidebar_backdrop_color;
    --sidebar-border-color: @sidebar_border_color;
    --sidebar-shade-color: @sidebar_shade_color;

    --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
    --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
    --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
    --secondary-sidebar-border-color: @secondary_sidebar_border_color;
    --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;

    --card-bg-color: @card_bg_color;
    --card-fg-color: @card_fg_color;
    --card-shade-color: @card_shade_color;

    --dialog-bg-color: @dialog_bg_color;
    --dialog-fg-color: @dialog_fg_color;

    --popover-bg-color: @popover_bg_color;
    --popover-fg-color: @popover_fg_color;
    --popover-shade-color: @popover_shade_color;

    --thumbnail-bg-color: @thumbnail_bg_color;
    --thumbnail-fg-color: @thumbnail_fg_color;

    --shade-color: @shade_color;
    --scrollbar-outline-color: @scrollbar_outline_color;
}

/*********************
 * GtkWindowControls *
 *********************/
windowcontrols > button {
  min-height: 16px;
  min-width: 16px;
  padding: 10px 0;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: none;
}

windowcontrols > button.minimize, windowcontrols > button.maximize, windowcontrols > button.close {
  color: transparent;
  background: none;
}

windowcontrols > button.minimize:hover, windowcontrols > button.minimize:active, windowcontrols > button.maximize:hover, windowcontrols > button.maximize:active, windowcontrols > button.close:hover, windowcontrols > button.close:active {
  box-shadow: none;
}

windowcontrols > button.minimize:hover, windowcontrols > button.minimize:active, windowcontrols > button.maximize:hover, windowcontrols > button.maximize:active, windowcontrols > button.close:hover, windowcontrols > button.close:active {
  color: white;
}

windowcontrols > button.minimize:backdrop > image, windowcontrols > button.maximize:backdrop > image, windowcontrols > button.close:backdrop > image {
  background-color: alpha(@headerbar_fg_color,0.3);
}

windowcontrols > button.minimize:backdrop:hover, windowcontrols > button.minimize:backdrop:active, windowcontrols > button.maximize:backdrop:hover, windowcontrols > button.maximize:backdrop:active, windowcontrols > button.close:backdrop:hover, windowcontrols > button.close:backdrop:active {
  color: alpha(@headerbar_fg_color,0.45);
}

windowcontrols > button.minimize > image {
  background-color: #fdbe04;
}

windowcontrols > button.minimize:active > image {
  background-color: #e1bc35;
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.12);
}

windowcontrols > button.maximize > image {
  background-color: #38c76a;
}

windowcontrols > button.maximize:active > image {
  background-color: #35c735;
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.12);
}

windowcontrols > button.close > image {
  background-color: #fd5f51;
}

windowcontrols > button.close:active > image {
  background-color: #f43560;
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.12);
}

windowcontrols {
  border-spacing: 6px;
}

windowcontrols:not(.empty).start:dir(ltr), windowcontrols:not(.empty).end:dir(rtl) {
  margin-right: 6px;
  margin-left: 6px;
}

windowcontrols:not(.empty).start:dir(rtl), windowcontrols:not(.empty).end:dir(ltr) {
  margin-left: 6px;
  margin-right: 6px;
}

windowcontrols > button > image {
  padding: 0;
  border-radius: 100%;
  transition: background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

windowcontrols > .icon {
  margin: 9px;
}

/******************
 * AdwWindowTitle *
 ******************/
headerbar .title,
windowtitle .title {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
}

headerbar .subtitle,
windowtitle .subtitle {
  font-size: smaller;
  padding-left: 12px;
  padding-right: 12px;
}

windowtitle {
  margin-top: -6px;
  margin-bottom: -6px;
  min-height: 12px;
}

window.devel headerbar > windowhandle {
  background-image: cross-fade(5% -gtk-recolor(url("assets/devel-symbolic.svg")), image(transparent));
  background-repeat: repeat-x;
}

window.devel dialog headerbar > windowhandle {
  background-image: unset;
  background-repeat: unset;
}

label {
  caret-color: currentColor;
}

label:disabled {
  filter: opacity(0.45);
}

.dim-label, scale > value, progressbar > text, row.expander image.expander-row-arrow, row.property > box.header > box.title > .title, row.expander.property box > list > row > box.header > box.title > .title, row label.subtitle, spinbutton > text > placeholder,
entry > text > placeholder, headerbar .subtitle,
windowtitle .subtitle, label.separator {
  opacity: 0.55;
}

.accent {
  color: @accent_color;
}

.success {
  color: @success_color;
}

.warning {
  color: @warning_color;
}

.error {
  color: @error_color;
}

/**********************
 * Window Decorations *
 **********************/
decoration {
  transition: none;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 15px 16px 2px rgba(0, 0, 0, 0.14), 0 6px 18px 5px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(13, 17, 23, 0.75), 0 0 36px transparent;
  margin: 10px;
}

.background.csd decoration {
  border: 1px solid rgba(212, 212, 212, 0.1);
  background-clip: border-box;
  background-color: #21262d;
}

decoration:backdrop {
  transition: box-shadow 200ms ease-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.18), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(13, 17, 23, 0.75), 0 0 36px transparent;
}

.tiled decoration, .tiled-top decoration, .tiled-right decoration, .tiled-bottom decoration, .tiled-left decoration {
  border-radius: 0;
}

.maximized decoration, .fullscreen decoration {
  border-radius: 0;
  box-shadow: none;
}

.popup decoration {
  box-shadow: none;
  border: none;
}

.ssd decoration {
  border: none;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 0 0 1px rgba(13, 17, 23, 0.75);
}

.metacity decoration {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.csd.popup decoration {
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(13, 17, 23, 0.75);
}

tooltip.csd decoration {
  border-radius: 6px;
  box-shadow: none;
  border: none;
}

messagedialog.background.csd decoration {
  border-radius: 12px;
  border: 1px solid rgba(212, 212, 212, 0.1);
  background-color: #30363d;
  background-clip: border-box;
}

.solid-csd decoration {
  margin: 0;
  padding: 2px;
  border-radius: 0;
  box-shadow: none;
  background-color: #161b22;
  border: 1px solid #3c4046;
}

.solid-csd decoration:backdrop {
  background-color: #21262d;
}

button.titlebutton:not(.suggested-action):not(.destructive-action) {
  min-height: 16px;
  min-width: 16px;
  padding: 0;
  margin: 0 4px;
}

button.minimize.titlebutton:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:not(.suggested-action):not(.destructive-action), button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  color: transparent;
}

button.minimize.titlebutton:hover:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:hover:not(.suggested-action):not(.destructive-action), button.close.titlebutton:hover:not(.suggested-action):not(.destructive-action) {
  box-shadow: none;
}

button.minimize.titlebutton:active:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:active:not(.suggested-action):not(.destructive-action), button.close.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.12);
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.12) 10%, transparent 0%);
}

button.minimize.titlebutton:hover:not(.suggested-action):not(.destructive-action), button.minimize.titlebutton:active:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:hover:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:active:not(.suggested-action):not(.destructive-action), button.close.titlebutton:hover:not(.suggested-action):not(.destructive-action), button.close.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  color: white;
}

button.minimize.titlebutton:backdrop:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:backdrop:not(.suggested-action):not(.destructive-action), button.close.titlebutton:backdrop:not(.suggested-action):not(.destructive-action) {
  background-color: rgba(212, 212, 212, 0.3);
}

button.minimize.titlebutton:backdrop:hover:not(.suggested-action):not(.destructive-action), button.minimize.titlebutton:backdrop:active:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:backdrop:hover:not(.suggested-action):not(.destructive-action), button.maximize.titlebutton:backdrop:active:not(.suggested-action):not(.destructive-action), button.close.titlebutton:backdrop:hover:not(.suggested-action):not(.destructive-action), button.close.titlebutton:backdrop:active:not(.suggested-action):not(.destructive-action) {
  color: rgba(212, 212, 212, 0.5);
}

button.minimize.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-color: #FDBE04;
}

button.minimize.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-color: #e1bc35;
}

button.maximize.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-color: #38C76A;
}

button.maximize.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-color: #35c735;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-color: #FD5F51;
}

button.close.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-color: #f43560;
}

#MozillaGtkWidget.background headerbar.titlebar.default-decoration button.minimize.titlebutton, .background.csd headerbar.titlebar.default-decoration button.minimize.titlebutton:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.maximize.titlebutton, .background.csd headerbar.titlebar.default-decoration button.maximize.titlebutton:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.close.titlebutton, .background.csd headerbar.titlebar.default-decoration button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

#MozillaGtkWidget.background headerbar.titlebar.default-decoration button.minimize.titlebutton, .background.csd headerbar.titlebar.default-decoration button.minimize.titlebutton:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.maximize.titlebutton, .background.csd headerbar.titlebar.default-decoration button.maximize.titlebutton:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.close.titlebutton, .background.csd headerbar.titlebar.default-decoration button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  box-shadow: none;
  color: transparent;
  animation: none;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
}

#MozillaGtkWidget.background headerbar.titlebar.default-decoration button.minimize.titlebutton:hover, .background.csd headerbar.titlebar.default-decoration button.minimize.titlebutton:hover:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.minimize.titlebutton:active, .background.csd headerbar.titlebar.default-decoration button.minimize.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-image: -gtk-scaled(url("assets/minimize-symbolic.svg"), url("assets/minimize-symbolic@2.svg"));
}

#MozillaGtkWidget.background headerbar.titlebar.default-decoration button.maximize.titlebutton:hover, .background.csd headerbar.titlebar.default-decoration button.maximize.titlebutton:hover:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.maximize.titlebutton:active, .background.csd headerbar.titlebar.default-decoration button.maximize.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-image: -gtk-scaled(url("assets/maximize-symbolic.svg"), url("assets/maximize-symbolic@2.svg"));
}

#MozillaGtkWidget.background headerbar.titlebar.default-decoration button.close.titlebutton:hover, .background.csd headerbar.titlebar.default-decoration button.close.titlebutton:hover:not(.suggested-action):not(.destructive-action), #MozillaGtkWidget.background headerbar.titlebar.default-decoration button.close.titlebutton:active, .background.csd headerbar.titlebar.default-decoration button.close.titlebutton:active:not(.suggested-action):not(.destructive-action) {
  background-image: -gtk-scaled(url("assets/close-symbolic.svg"), url("assets/close-symbolic@2.svg"));
}

.background.csd.maximized headerbar.titlebar.default-decoration button.titlebutton:not(.suggested-action):not(.destructive-action).maximize:hover, .background.csd.maximized headerbar.titlebar.default-decoration button.titlebutton:not(.suggested-action):not(.destructive-action).maximize:active {
  background-image: -gtk-scaled(url("assets/unmaximize-symbolic.svg"), url("assets/unmaximize-symbolic@2.svg"));
}

.monospace {
  font-family: monospace;
}

separator:not(.vertical) {
  background-color: @bg_color;
  color: transparent;
  min-height: 1px;
  border: none;
}

headerbar.titlebar {
  border-bottom: none;
  box-shadow: none;
}

dimming {
	background: rgba(0, 0, 0, 0.4);
}

statuspage, toolbarview revealer headerbar, .collapse-spacing.vertical, toolbarview preferencespage {
	background: @bg_color;
}

messagedialog, messagedialog box {
	background: @bg_color;
}

dialog scrolledwindow viewport, .response-area {
	background: @bg_color;
}

.horizontal.spacer {
	background:none;
}
