* {
    BG:    #11111B;
    BGA:   #9D2B1B;
    FG:    #D9E0EEff;
    FGA:   #9D2B1B;
    BDR:   #9D2B1B;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #9D2B1B;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
