* {
    img:		url("/media/storage/wall/wallhaven-gpgyw3.jpg", height);
    background:     	#050505;
    background-alt: 	#6477D1;
    foreground:     	#D4DCF5;
    selected:       	#838CB9;
    active:         	#4C5C94;
    urgent:         	#6E89CE;
    Prompt:		#050505;
}
