* {
    img:		url("/media/storage/wall/rp-switch.png", height);
    background:     	#19181B;
    background-alt: 	#4E6882;
    foreground:     	#EDE2DE;
    selected:       	#B3486C;
    active:         	#120F24;
    urgent:         	#D04C28;
    Prompt:		#19181B;
}
