* {
    img:		url("/media/storage/wall/wallhaven-5g22q5.png", height);
    background:     	#121416;
    background-alt: 	#0F516E;
    foreground:     	#E2DEDE;
    selected:       	#219599;
    active:         	#07131C;
    urgent:         	#933F64;
    Prompt:		#121416;
}
