@import url('/home/shadow/.cache/wal/colors-waybar.css');

window {
    background-color: @background;
    color: @foreground;
}

/* search entry */
entry {
    background-color: @background;
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: @color2
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
