@import url('/home/shadow/.cache/wal/colors-waybar.css');

window {
        background: rgba(5, 5, 5, 0.5); /*@background;*/
	border-radius: 10px;
	border: solid 3px @color3;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 1px;
	border-color: @color2
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: @color2;
	border-radius: 2px;
}

button:focus {
	box-shadow: none
}
