* {
    img:		url("{{wallpaper}}", height);
    background:     	{{background}};
    background-alt: 	{{color3}};
    foreground:     	{{foreground}};
    selected:       	{{color5}};
    active:         	{{color9}};
    urgent:         	{{color12}};
    Prompt:		{{background}};
}
